
**/node_modules
./doctor/.svelte-kit

**/build


# Output
./patients/.output
./patients/.vercel
**/.svelte-kit
./patients/build
./patients/www

# OS
./patients/.DS_Store
./patients/Thumbs.db

# Env
./patients/.env
./patients/.env.*
!.env.example
!.env.test

# Vite
./patients/vite.config.js.timestamp-*
./patients/vite.config.ts.timestamp-*
./patients/test-results/
./patients/playwright-report/
./patients/blob-report/
./patients/playwright/.cache/